body{
    background: #111;
    margin: 0;
}

#configDiv{
    padding: 0px 16px 0 16px;
    /*text-align: right;*/
    float:left;
    display: inline-block;
    background: #72c99ecc;
    max-width: 80%;
    overflow-y:visible;
    overflow-x:visible;
    height:100%;
}

#toggleDiv{
    float: left;
    margin: 0 auto;
}

#configDivWrapper{
    position:absolute;
    left:0;
    top:0;
    height: 100%;
    z-index:5;
}

.checkbox-row{
    display: table-row;
    text-align: right;
    margin-top:50px;
    white-space: nowrap;
}
.checkbox-extrainfo{
    display: table-cell;
}

.checkbox-row label{
    margin: 1em;
}

.floatInput{
    padding: .25em;
    border-radius: .5em;
    width: 14em;
}

.intInput{
    padding: .25em;
    border-radius: .5em;
    width: 5em;
}

#customAntennaField{
    display: block;
}

#customFeedsField{
    display: block;
}

#sceneHolder{
    position: relative;
}

#fieldsCanvas{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

#staticElementsCanvas{
    position: absolute;
    left: 0px;
    top: 0px;
    /*background: #f00;*/
    z-index: 2;
}

#diagramCanvas{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
    cursor: crosshair;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 10;
    width: 360px;
    color: #fff;
    background-color: #333;
    border-radius: 6px;
    padding: 6px;
    top: 25px;
    left: -50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    white-space: normal;
    text-align: center;

}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}


