body{
    background: #111;
    margin: 0;
}

#configDiv{
    padding: 16px;
    /*text-align: right;*/
    float:left;
    display: inline-block;
    background: #72c99ecc;
    max-width: 80%;
    overflow:scroll;
    height:100%;
}

#toggleDiv{
    float: left;
    margin: 0 auto;
}

#configDivWrapper{
    position:absolute;
    left:0;
    top:0;
    height: 100%;
    z-index:5;
}

.checkbox-row{
    display: table-row;
    text-align: right;
    margin-top:50px;
    white-space: nowrap;
}
.checkbox-extrainfo{
    display: table-cell;
}

.checkbox-row label{
    margin: 1em;
}

.floatInput{
    padding: .25em;
    border-radius: .5em;
    width: 14em;
}

.intInput{
    padding: .25em;
    border-radius: .5em;
    width: 5em;
}

#customAntennaField{
    display: block;
}

#customFeedsField{
    display: block;
}

#sceneHolder{
    position: relative;
}

#fieldsCanvas{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

#staticElementsCanvas{
    position: absolute;
    left: 0px;
    top: 0px;
    /*background: #f00;*/
    z-index: 2;
}

#diagramCanvas{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
}
